body {
    background: url('./material/first_picture.jpg');
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: #ed831b;
  }

  .welcome {
      color: white;
      text-align: center;
      margin-top: 10%;
  }

  .circles{
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
  }

  .dot {
    height: 170px;
    width: 170px;
    margin-left: 50px ;
    padding-top: 25px;
    background-color: #fc8f45;
    border-radius: 50%;
    display: inline-block;
  }


  .me i{
    margin-left: 50px;
    margin-top: 50px;
    color: white;
  }

  .me a{
    margin-left: 60px;
    color: white;
    text-decoration: none;
    font-style: italic;
  }

  .books i{
    margin-left: 48px;
    margin-top: 50px;
    color: white;
  }


  .books a{
    margin-left: 62px;
    color:white;
    text-decoration: none;
    font-style: italic;
  }

  .photo i{
    margin-left: 46px;
    margin-top: 48px;
    color: white;
  }
  .photo a{
    margin-left: 62px;
    color: white;
    text-decoration: none;
    font-style: italic;
  }

  .travel i{
    margin-left: 46px;
    margin-top: 48px;
    color: white;
  }

  .travel a{
    margin-left: 35px;
    color: white;
    text-decoration: none;
    font-style: italic;
  }

  .dot a:hover{
    color: white;
  }

